body {
    color: #fff;
    background-color: #2d545e;
}

.stButton>button {
    color:  #2d545e;
    /*border-radius: 50%;*/
    height: 3em;
    width: 5em;
}

.stTextInput>div>div>input {
    color: #2d545e;
}